<div class="navigation-panel"
(keydown.arrowLeft)="dislikeTheCat()"
(keydown.arrowRight)="likeTheCat()"
(keydown.arrowUp)="skipTheCat()">
  <button class="dislike" (click)="dislikeTheCat()">
    <img src="./../../../assets/icons/close.svg" alt="like button">
  </button>

  <button class="skip" (click)="skipTheCat()">
    <img src="./../../../assets/icons/roundabout.svg" alt="like button">
  </button>

  <button class="like" (click)="likeTheCat()">
    <img src="./../../../assets/icons/heart.svg" alt="like button">
  </button>
</div>
