.content {
  .welcome-message {
    font-size: 24px;
    font-weigt: 500;
    text-align: center;
    margin-top: 60px;

    &.retry-message {
      font-size: 18px;
      p {
        margin: 5px 0px;
      }
    }

    .retry {
      font-size: 18px;
    }

    input {
      width: 60px;
      text-align: center;
      border: 4px solid #304e60;
      padding: 6px;
      font-size: 22px;
      font-color: darkgrey;
      -webkit-appearance: none;
    }

    button {
      margin-top: 20px;
      color: #84693b;
      background-color: transparent;
      border: 5px solid #84693b;
      padding: 10px 15px;
      font-size: 22px;
      text-transform: uppercase;

      &:active {
        background-color: #84693b;
        color: white;
      }

    }
  }

  .summary {
    .headline {
      text-align: center;
      font-size: 36px;
      margin-bottom: 20px;
    }
    .scores {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;

      .score-tile {
        text-align: center;
        padding: 20px;

        .score {
          font-size: 30px;
          margin: 0px;
        }

        .name {
          margin: 0px;
          font-size: 17px;
        }
      }
    }
  }
}
