<div class="content">
  <div class="summary" *ngIf="gameData">
    <p class="headline">That's Your Result</p>
    <div class="scores">
      <div class="score-tile">
        <p class="score">{{gameData.likes}}</p>
        <p class="name">Likes</p>
      </div>

      <div class="score-tile">
        <p class="score">{{gameData.skipped}}</p>
        <p class="name">Skipped</p>
      </div>

      <div class="score-tile">
        <p class="score">{{gameData.dislikes}}</p>
        <p class="name">Dislikes</p>
      </div>
    </div>
  </div>

  <div class="welcome-message" [ngClass]="{'retry-message': gameData}">
    <p *ngIf="!gameData">How many cats can you swipe in</p>
    <p *ngIf="gameData">Let's try again for</p>

    <input type="number" [(ngModel)]="playTime"><p> seconds?</p>

    <button (click)="this.startNewGame()">Start</button>
  </div>
</div>
